# Logs
*.log
*.log.*
server.log

# Operating system files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/

# Python cache
__pycache__/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
